#div1{
	float: left;
	width: 100px;
	height: 100px;
	background-color: red;
	padding: 20px;
	margin: 20px;
}
#div2{
	float: left;
	width: 100px;
	height: 100px;
	background-color: yellow;
	padding: 20px;
	margin: 20px;
}
#div3{
	float: left;
	width: 100px;
	height: 100px;
	background-color: blue;
	padding: 20px;
	margin: 20px;
}